[Unit]
Description=Virtual Project Manager
After=network.target

[Service]
ExecStart=<PM_BINARY>
ExecReload=<PM_BINARY>
Type=exec
Restart=no

[Install]
WantedBy=default.target
